{{- $waitlist := (.Children.Where "templateId" "bandwagon-waitlist").Top30.ByCreateDate.Slice -}}

{{- if $waitlist.NotEmpty -}}

    {{- $last := $waitlist.Last -}}

    <tbody hx-get="/{{.StreamID}}/waitlist-list?createDate=GT:{{$last.CreateDate}}" hx-trigger="revealed" hx-target="this" hx-swap="afterend" hx-push-url="false">
        {{- range $index, $item := $waitlist -}}
            <tr role="button" hx-get="/{{.StreamID}}/edit">
                <td>{{add $index 1}}. {{$item.Label}}
                <td>{{$item.Data.contact}}</td>
                <td>{{$item.Data.email}}</td>
                <td>{{$item.Data.status}}</td>
            </tr>
        {{- end -}}
    </tbody>

{{- end -}}